nav.site-header
    .site-header__container.header-sticky
        .logoblock
            a.header-logo__image(href='/' tabindex="-1")
            h1.title
                a.title(href="/" tabindex="-1") VERGILIUS
        ul.site-header__links
            if selected == "Home"
                li
                    a.header-link.active(href='/' tabindex="-1") Home
            else
                li
                    a.header-link(href='/' tabindex="-1") Home
            if selected == "Kernels"
                li
                    .dropdown.drop-height
                        button.dropbtn.btn-style(tabindex="-1")
                            a.header-link.active(href='/kernels' tabindex="-1" style="margin-left: 5px;") Kernels
                        .dropdown-content.drop-style
                            ul(type='none')
                                div(style="width: 520px;")
                                    div.menu-block
                                        li
                                            a.drp.caption(href="/kernels/x86") &nbsp;x86
                                        li
                                            ul(type='none')
                                                for i in sortedFamx86
                                                    li: p.menu-list
                                                        a.foo-link.bar-link(href="/kernels/x86/#{i}" tabindex="-1") - #{i}
                                    div.menu-block
                                        li
                                            a.drp.caption(href="/kernels/x64") &nbsp;x64
                                        li
                                            ul(type='none')
                                                for i in sortedFamx64
                                                    li: p.menu-list
                                                        a.foo-link.bar-link(href="/kernels/x64/#{i}" tabindex="-1") - #{i}
            else
                li
                    .dropdown.drop-height
                        button.dropbtn.btn-style(tabindex="-1")
                            a.header-link.nobord(href='/kernels' tabindex="-1" style="margin-left: 5px;") Kernels
                        .dropdown-content.drop-style
                            ul(type='none')
                                div(style="width: 520px;")
                                    div.menu-block
                                        li
                                            a.drp.caption(href="/kernels/x86") &nbsp;x86
                                        li
                                            ul(type='none')
                                                for i in sortedFamx86
                                                    li: p.menu-list
                                                        a.foo-link.bar-link(href="/kernels/x86/#{i}" tabindex="-1") - #{i}
                                    div.menu-block
                                        li
                                            a.drp.caption(href="/kernels/x64") &nbsp;x64
                                        li
                                            ul(type='none')
                                                for i in sortedFamx64
                                                    li: p.menu-list
                                                        a.foo-link.bar-link(href="/kernels/x64/#{i}" tabindex="-1") - #{i}
            if selected == "About"
                li
                    a.header-link.active.hlink-pad(href='/about' tabindex="-1") About
            else
                li
                    a.header-link.hlink-pad(href='/about' tabindex="-1") About
            if selected == "Admin"
                li
                    a.header-link.active.hlink-pad(href='/admin' tabindex="-1") Admin
            else
                li
                    a.header-link.hlink-pad(href='/admin' tabindex="-1") Admin





