nav.navbar.navbar-expand-lg.navbar-light.bg-dark
    a.navbar-brand(href='/', tabindex='-1')
        img.d-inline-block.logo(src='/images/logo.png', width='52', height='57', alt='')
        | VERGILIUS
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
    #navbarSupportedContent.collapse.navbar-collapse
        ul.navbar-nav.ml-auto
            if selected == "Home"
                li.nav-item
                    a.nav-link.active(href='/' tabindex="-1") HOME
            else
                li.nav-item
                    a.nav-link(href='/' tabindex="-1") HOME
            if selected == "Kernels"
                li.nav-item.dropdown
                    a#navbarDropdown.nav-link.dropdown-toggle.active(tabindex='-1', href='/kernels', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                        | KERNELS
                    .dropdown-menu.dropdown-menu-right(aria-labelledby='navbarDropdown')
                        .container.dropdown-menu-style
                            .row
                                .col-md-6.no-pad
                                    a.dropdown-item.blue-item(tabindex='-1', href='/kernels/x86') x86
                                    ul(type='none')
                                        for i in sortedFamx86
                                            li: p.menu-list
                                                a.dropdown-item(href=`/kernels/x86/#{i}` tabindex="-1") - #{i}
                                .col-md-6.no-pad
                                    a.dropdown-item.blue-item(tabindex='-1', href='/kernels/x64') x64
                                    ul(type='none')
                                        for i in sortedFamx64
                                            li: p.menu-list
                                                a.dropdown-item(href=`/kernels/x64/#{i}` tabindex="-1") - #{i}
            else
                li.nav-item.dropdown
                    a#navbarDropdown.nav-link.dropdown-toggle(tabindex='-1', href='/kernels', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                        | KERNELS
                    .dropdown-menu.dropdown-menu-right(aria-labelledby='navbarDropdown')
                        .container.dropdown-menu-style
                            .row
                                .col-md-6.no-pad
                                    a.dropdown-item.blue-item(tabindex='-1', href='/kernels/x86') x86
                                    ul(type='none')
                                        for i in sortedFamx86
                                            li: p.menu-list
                                                a.dropdown-item(href=`/kernels/x86/#{i}` tabindex="-1") - #{i}
                                .col-md-6.no-pad
                                    a.dropdown-item.blue-item(tabindex='-1', href='/kernels/x64') x64
                                    ul(type='none')
                                        for i in sortedFamx64
                                            li: p.menu-list
                                                a.dropdown-item(href=`/kernels/x64/#{i}` tabindex="-1") - #{i}
            if selected == "About"
                li.nav-item
                    a.nav-link.active(href='/about' tabindex="-1") ABOUT
            else
                li.nav-item
                    a.nav-link(href='/about' tabindex="-1") ABOUT