extends /partials/page

block title
    title Vergilius Project
    -var selected = 'Kernels';
    -var i = 0;
block content
    .container
        .cmd
            ul.list-inline.breadcrumb(type='none')
                li.list-inline-item
                    | >
                    a(href='/' tabindex="-1")  Home
                li.list-inline-item
                    a(href='/kernels' tabindex="-1")  Kernels
                li.list-inline-item #{arch}
    .container.indent
        .mainblock(style="background: url(/images/lonelysturn.png);")
            .col-lg-12
                h2.text-center To the depths of kernel...
                ul.timeline(style="height: 85%;")
                    each a in chosenArch
                        if(i % 2 != 0)
                            li.arch-li(style="left: 10%;")
                                .timeline-image(style="left: 65%;")
                                    a(href="/kernels/#{arch}/#{a}" tabindex="-1")
                                        img.img-circle(src='/images/edit.gif', alt='')
                                .timeline-panel.arch.direct
                                    .timeline-heading
                                        h4(style="padding-top: 15px;")
                                            a(href="/kernels/#{arch}/#{a}" tabindex="-1") #{a}
                                if(i < chosenArch.size()-1)
                                    .line
                                -var i=i+1
                        else
                            li.arch-li.timeline-inverted(style="left: 20%;")
                                .timeline-image(style="left: 30%;")
                                    a(href="/kernels/#{arch}/#{a}" tabindex="-1")
                                        img.img-circle(src='/images/edit.gif', alt='')
                                .timeline-panel.arch.invert
                                    .timeline-heading
                                        h4
                                            a(href="/kernels/#{arch}/#{a}" tabindex="-1") #{a}
                                if(i < chosenArch.size()-1)
                                    .line
                                -var i=i+1
