extends /partials/page

block title
    title Vergilius Project | #{family.name}
    -var selected = 'Kernels';
block content
    .container.mainblock
        .row
            .col-md-12.breadcrumbs-col
                nav(aria-label='breadcrumb')
                    ol.breadcrumb
                        li.breadcrumb-item
                            a.breadcrumb-link(href='/' tabindex='-1') > Home
                        li.breadcrumb-item
                            a.breadcrumb-link(href='/kernels' tabindex='-1') Kernels
                        li.breadcrumb-item
                            a.breadcrumb-link(href=`/kernels/${arch}` tabindex="-1") #{arch}
                        li.breadcrumb-item.active(aria-current='page') #{family.name}
        .row
            .col-md-12
                .container.mainblock-content.content-family
                    .row
                        .col-md-12
                            h2.text-center.maincap(style="margin-bottom: 0px;") #{family.name}
                            .container
                                .row.sm-timeline
                                    mixin osinfo(os, url)
                                        a.fam-link(href=url tabindex="-1") #{os.osName}
                                        p.family
                                            | build: #{os.buildnumber}
                                        p.family
                                            | date: #{os.convertTimestampToDate(os.timestamp)}
                                    each os, i in oses
                                        -var url = `/kernels/#{arch}/#{family.slug}/#{os.osSlug}`;
                                        if (i % 2)
                                            .col-sm-4
                                            .col-sm-8.sm-modif(style="margin-bottom: 5px")
                                                .row
                                                    .col-sm-2.d-none.d-sm-block.md-even
                                                        .sm-timeline-image
                                                            a(href=url tabindex="-1")
                                                                img.smcircle.img-arch(src='/images/mainpla.png', alt='')
                                                        if i < oses.size() - 1
                                                            .new-small-line-2.d-none.d-xl-block
                                                    .col-sm-10.my-auto
                                                        +osinfo(os, url)
                                        else
                                            .col-sm-3
                                            .col-sm-9(style="margin-bottom: 5px")
                                                .row
                                                    .col-sm-2.d-none.d-sm-block(style="padding-left: 0px;")
                                                        .sm-timeline-image
                                                            a(href=url tabindex="-1")
                                                                img.smcircle.img-arch(src='/images/mainpla.png', alt='')
                                                        if i < oses.size() - 1
                                                            .new-small-line.d-none.d-xl-block
                                                    .col-sm-10.my-auto.md-odd
                                                        +osinfo(os, url)
