extends /partials/page

block title
    title Vergilius Project | #{famname}
    -var selected = 'Kernels';
    -var i = 0;
block content
    .container.mainblock
        .row
            .col-md-12.breadcrumbs-col
                nav(aria-label='breadcrumb')
                    ol.breadcrumb
                        li.breadcrumb-item
                            a.breadcrumb-link(href='/' tabindex='-1') > Home
                        li.breadcrumb-item
                            a.breadcrumb-link(href='/kernels' tabindex='-1') Kernels
                        li.breadcrumb-item
                            a.breadcrumb-link(href=`/kernels/${arch}` tabindex="-1") #{arch}
                        li.breadcrumb-item.active(aria-current='page') #{famname}
        .row
            .col-md-12
                .container.mainblock-content.content-family
                    .row
                        .col-md-12
                            h2.text-center.maincap(style="margin-bottom: 0px;") #{famname}
                            .container
                                .row.sm-timeline
                                    each a in fam
                                        -var url = `/kernels/#{arch}/#{famname}/#{a.osname}`;
                                        if(i % 2 != 0)
                                            .col-sm-4
                                            .col-sm-8.sm-modif(style="margin-bottom: 5px")
                                                .row
                                                    .col-sm-2.d-none.d-sm-block.md-even
                                                        .sm-timeline-image
                                                            a(href=url tabindex="-1")
                                                                img.smcircle.img-arch(src='/images/mainpla.png', alt='')
                                                        if(i < fam.size() - 1)
                                                            .new-small-line-2.d-none.d-xl-block
                                                    .col-sm-10.my-auto
                                                        a.fam-link(href=url tabindex="-1") #{a.osname}
                                                        p.family
                                                            | build: #{a.buildnumber}
                                                        p.family
                                                            | date: #{a.convertTimestampToDate(a.timestamp)}
                                                        -var i=i+1
                                        else
                                            .col-sm-3
                                            .col-sm-9(style="margin-bottom: 5px")
                                                .row
                                                    .col-sm-2.d-none.d-sm-block(style="padding-left: 0px;")
                                                        .sm-timeline-image
                                                            a(href=url tabindex="-1")
                                                                img.smcircle.img-arch(src='/images/mainpla.png', alt='')
                                                        if(i < fam.size() - 1)
                                                            .new-small-line.d-none.d-xl-block
                                                    .col-sm-10.my-auto.md-odd
                                                        a.fam-link(href=url tabindex="-1") #{a.osname}
                                                        p.family
                                                            | build: #{a.buildnumber}
                                                        p.family
                                                            | date: #{a.convertTimestampToDate(a.timestamp)}
                                                        -var i=i+1