extends /partials/page

block title
    title Vergilius Project | #{famname}
    -var selected = 'Kernels';
    -var i = 0;
block content
    .container
        .cmd
            ul.list-inline.breadcrumb(type='none')
                li.list-inline-item
                    | >
                    a(href='/' tabindex="-1")  Home
                li.list-inline-item
                    a(href='/kernels' tabindex="-1") Kernels
                li.list-inline-item
                    a(href='/kernels/#{arch}' tabindex="-1") #{arch}
                li.list-inline-item #{famname}
    .container.indent
        .mainblock(style="background-image: url(/images/newfam.png); background-color: #081120 !important;")
            .col-lg-12
                h2.text-center.maincap(style="margin-bottom: 0px;") #{famname}
                ul.sm-timeline.fam-list
                    each a in fam
                        if(i % 2 != 0)
                            li.li-family
                                a.listos.head(href="/kernels/#{arch}/#{famname}/#{a.osname}" tabindex="-1")
                                    .sm-timeline-image
                                        img.smcircle(src='/images/mainpla.png', alt='')
                                .sm-timeline-panel.panel.sm-panel
                                    .sm-timeline-heading
                                        h4.famcap
                                            a.listos(href="/kernels/#{arch}/#{famname}/#{a.osname}" tabindex="-1") #{a.family} #{a.osname}
                                    p.family
                                        |build: #{a.buildnumber}
                                        br
                                        |date: #{a.convertTimestampToDate(a.timestamp)}
                                if(i < fam.size() - 1)
                                    .sm-line.small
                                -var i=i+1
                        else
                            li.sm-timeline-inverted
                                a.listos.head(href="/kernels/#{arch}/#{famname}/#{a.osname}" tabindex="-1")
                                    .sm-timeline-image-inverted
                                        img.smcircle(src='/images/mainpla.png', alt='')
                                .sm-timeline-panel.panel.sm-panel
                                    .sm-timeline-heading
                                        h4.famcap
                                            a.listos(href="/kernels/#{arch}/#{famname}/#{a.osname}" tabindex="-1") #{a.family} #{a.osname}
                                    p.family
                                        |build: #{a.buildnumber}
                                        br
                                        |date: #{a.convertTimestampToDate(a.timestamp)}
                                if(i < fam.size() - 1)
                                    .sm-line.small
                                -var i=i+1
