extends /partials/page

block title
    title Vergilius Project
    -var selected = 'Kernels';
    -var i = 0;
block content
    .container
        .cmd
            ul.list-inline.breadcrumb(type='none')
                li.list-inline-item
                    | >
                    a(href='/' tabindex="-1")  Home
                li.list-inline-item Kernels
    .container.indent
        .mainblock(style="background: url(/images/blackspace.png);")
            .col-lg-12
                h2.text-center(style="font-weight:900;") To the depths of kernel...
                ul.timeline(style="height: 85%;")
                    each a in families
                        if(i % 2 != 0)
                            li(style="height: 240px; left: 10%; width: 80%; padding-top: 25px; padding-bottom: 40px; margin-top: 5px; margin-bottom: 15px;")
                                .timeline-image(style="left: 65%;")
                                    img.img-circle.img-responsive(src='/images/edit.gif', alt='', width='185px', height='188px', style="position: relative;")
                                .timeline-panel(style="text-align: right; margin-right: 0px; margin-left: 5px; margin-top: 20px; padding: 10px; float: left; left:0%; width: 50%;")
                                    .timeline-heading
                                        h4
                                            a(href="/kernels/#{a}" tabindex="-1") #{a}
                                        //h4.subheading year: 1234
                                    .timeline-body
                                        each b in os
                                            if a.toString() == (b.family).toString()
                                                a(href="/os/#{b.osname}" class="akern" tabindex="-1") #{b.osname} (#{b.convertTimestamptoDate(b.timestamp)})
                                if(i < families.size()-1)
                                    .line
                                -var i=i+1
                        else
                            li.timeline-inverted(style="height: 240px; left: 20%; width: 80%; padding-top: 25px; padding-bottom: 40px; margin-top: 5px; margin-bottom: 5px;")
                                .timeline-image(style="left: 30%;")
                                    img.img-circle.img-responsive(src='/images/edit.gif', alt='', width='185px', height='188px', style="position: relative")
                                .timeline-panel(style="margin-right: 0px; margin-left: 5px; margin-top: 20px; padding: 10px; float: left; left:43%; width: 50%;")
                                    .timeline-heading
                                        h4
                                            a(href="/kernels/#{a}" tabindex="-1") #{a}
                                        //h4.subheading year: 1234
                                    .timeline-body
                                        each c in os
                                            if a.toString() == (c.family).toString()
                                                a(href="/os/#{c.osname}" class="akern" tabindex="-1") #{c.osname} (#{c.convertTimestamptoDate(c.timestamp)})
                                if(i < families.size()-1)
                                    .line
                                -var i=i+1
