extends /partials/page

block title
    title Vergilius Project
block content
    nav.site-header
        .site-header__container.header-sticky
            a.header-logo__image(href='/')
            ul.site-header__links
                li
                    a.header-link(href='/') Home
                li
                    .dropdown
                        button.dropbtn
                            a.header-link.active(href='/kernels') Kernels
                        .dropdown-content
                            ul(type='none')
                                for i in os
                                    li: p
                                        a.drp(href="/os/#{i.osname}") #{i.idopersys} #{i.osname}
                li
                    a.header-link(href='/statistics') Statistics
                li
                    a.header-link(href='/about') About
                li
                    a.header-link(href='/admin') Admin
    .container
        .cmd
            ul.list-inline.breadcrumb(type='none')
                li.list-inline-item
                    | >
                    a(href='/')  Home
                li.list-inline-item Kernels
    .container.indent
        .mainblock
            p(style='text-align: left; font-size: 33px; font-weight: 600') Kernels:
                div
                    ul(type='none')
                        for i in os
                            li: p
                                a(href="/os/#{i.osname}" class='listos') #{i.idopersys} #{i.osname}