extends /partials/page

block title
    title Vergilius Project | #{ttypename}
    -var selected = 'Kernels';
block content
    .container.mainblock.main-tdata-sm
        .row
            .col-md-12.breadcrumbs-col
                nav(aria-label='breadcrumb')
                    ol.breadcrumb
                        li.breadcrumb-item
                            a.breadcrumb-link(href='/' tabindex="-1") > Home
                        li.breadcrumb-item
                            a.breadcrumb-link(href="/kernels" tabindex="-1") Kernels
                        li.breadcrumb-item
                            a.breadcrumb-link(href=`/kernels/${arch}` tabindex="-1") #{arch}
                        li.breadcrumb-item
                            a.breadcrumb-link(href=`/kernels/${arch}/${family.slug}` tabindex="-1") #{family.name}
                        li.breadcrumb-item
                            a.breadcrumb-link(href=`/kernels/#{arch}/#{family.slug}/#{os.slug}` tabindex="-1") #{os.name}
                        li.breadcrumb-item.active(aria-current='page') #{ttypename}
        .row.fill
            .col-md-12
                .container.mainblock-content.main-tdata-sm
                    .row
                        .col-md-12
                            h2.h2-tdata #{ttypename}
                    .row
                        .col-md-12
                            .container
                                .row.bs-wizard
                                    if previousOs == null
                                        .col-sm-4.bs-wizard-step.disabled.toprow.d-none.d-md-block
                                            .text-center.bs-wizard-stepnum.ord-text &nbsp; Previous
                                    else
                                        .col-sm-4.bs-wizard-step.completed.toprow.d-none.d-md-block(style="padding-right: 5px;")
                                            .text-center.bs-wizard-stepnum
                                                a.wizard-links(href=`/kernels/${arch}/#{previousOs.familySlug}/#{previousOs.osSlug}/#{ttypename}` tabindex="-1") #{previousOs.familyName} #{previousOs.osName}
                                    .col-sm-4.bs-wizard-step.complete.toprow.d-none.d-md-block(style="padding-right: 5px;")
                                        .text-center.bs-wizard-stepnum
                                            a.wizard-links(href=`/kernels/${arch}/#{family.slug}/#{os.slug}/#{ttypename}` tabindex="-1") #{family.name} #{os.name}
                                    if nextOs == null
                                        .col-sm-4.bs-wizard-step.disabled.toprow.d-none.d-md-block
                                            .text-center.bs-wizard-stepnum.ord-text &nbsp; Next
                                    else
                                        .col-sm-4.bs-wizard-step.completed.toprow.d-none.d-md-block(style="padding-right: 5px;")
                                            .text-center.bs-wizard-stepnum
                                                a.wizard-links(href=`/kernels/${arch}/#{nextOs.familySlug}/#{nextOs.osSlug}/#{ttypename}` tabindex="-1") #{nextOs.familyName} #{nextOs.osName}
                            .row.bs-wizard.hide-padd
                                if previousOs == null
                                    .col-sm-4.bs-wizard-step.disabled.bottomrow.d-none.d-md-block
                                        .progress
                                            .progress-bar
                                        a.bs-wizard-dot(href='#' tabindex="-1")
                                else
                                    .col-sm-4.bs-wizard-step.completed.bottomrow.d-none.d-md-block
                                        .progress
                                            .progress-bar
                                        a.bs-wizard-dot(href=`/kernels/${arch}/#{previousOs.familySlug}/#{previousOs.osSlug}/#{ttypename}` tabindex="-1")
                                .col-sm-4.bs-wizard-step.complete.bottomrow.d-none.d-md-block
                                    .progress
                                        .progress-bar
                                    a.bs-wizard-dot(href=`/kernels/${arch}/#{family.slug}/#{os.slug}/#{ttypename}` tabindex="-1")
                                if nextOs == null
                                    .col-sm-4.bs-wizard-step.disabled.bottomrow.d-none.d-md-block
                                        .progress
                                            .progress-bar
                                        a.bs-wizard-dot(href='#' tabindex="-1")
                                else
                                    .col-sm-4.bs-wizard-step.completed.bottomrow.d-none.d-md-block
                                        .progress
                                            .progress-bar
                                        a.bs-wizard-dot(href=`/kernels/${arch}/#{nextOs.familySlug}/#{nextOs.osSlug}/#{ttypename}` tabindex="-1")
                    .row
                        .col-md-12
                            .container.tdata-code
                                script(type='text/javascript').
                                    (function () {
                                        new Clipboard('#copy-button');
                                    })();
                                if ttype == null
                                    .nothing
                                        | Sorry, this structure doesn't exist in the chosen kernel version.
                                else
                                    pre
                                        code(class="c" style="min-height: 300px; padding-left: 0px;")
                                            button#copy-button.button(data-clipboard-target='#copyblock' tabindex="-1" data-clipboard-action="copy").btn-info copy
                                            div#copyblock !{ttype}
        .row
            .col-md-12
                if cros != null
                    .maincross
                        h4.h4-tdata Used in
                        .used-in-block
                            ul(type='none')
                                li
                                    for x, i in cros
                                        a.related(href=`/kernels/#{arch}/#{family.slug}/#{os.slug}/#{x}` tabindex="-1") #{x}
                                        if i != cros.size() - 1
                                            |,&nbsp;