extends /partials/page

block title
    title Vergilius Project
block content
    div
        ul.list-inline.breadcrumb(type='none')
            li.list-inline-item
                a(href="/") Home
            li.list-inline-item
                a(href="/os/#{osname}") #{osname}
            li.list-inline-item.active #{i.name}
    .container.mycontainer
        div
            button#copy-button.button(data-clipboard-target='#copyblock') Copy
            script(type='text/javascript').
                (function () {
                    new Clipboard('#copy-button');
                })();
        #copyblock
            ul
                for i in res1
                    //li(type="none"): p(style='white-space:pre;') #{i}
                    pre
                        code(class="c") #{i}
            ul
                for j in res2
                    //li(type="none"): p(style='white-space:pre;') #{j}
                    pre
                        code(class="c") #{j}
            ul
                for k in res3
                    //li(type="none"): p(style='white-space:pre;') #{k}
                    pre
                        code(class="c") #{k}