extends /partials/page

block title
    title Vergilius Project
    -var selected = 'Kernels';
block content
    .container
        .cmd
            ul.list-inline.breadcrumb(type='none')
                li.list-inline-item
                    | >
                    a(href="/" tabindex="-1")  Home
                li.list-inline-item
                    a(href="/kernels" tabindex="-1") Kernels
                li.list-inline-item
                    a(href="/os/#{osname}" tabindex="-1") #{osname}
                li.list-inline-item #{i.name}
    .container.indent
        .mainblock
            p(style="font-size:28px; font-weight:700; margin-bottom: 3px; margin-left: 2px;")
                | #{i.name}
            .row.bs-wizard(style='border-bottom:0;')
                if invertMapos[mapos[osname]-1] == null
                    .col-sm-4.bs-wizard-step.disabled
                        .text-center.bs-wizard-stepnum &nbsp;#{invertMapos[mapos[osname]-1]}
                        .progress
                            .progress-bar
                        a.bs-wizard-dot(href='/os/#{invertMapos[mapos[osname]-1]}/type/#{i.name}' tabindex="-1")
                else
                    .col-sm-4.bs-wizard-step.completed
                        .text-center.bs-wizard-stepnum
                            a.wizard-links(href='/os/#{invertMapos[mapos[osname]-1]}/type/#{i.name}' tabindex="-1") #{invertMapos[mapos[osname] - 1]}
                        .progress
                            .progress-bar
                        a.bs-wizard-dot(href='/os/#{invertMapos[mapos[osname] - 1]}/type/#{i.name}' tabindex="-1")
                .col-sm-4.bs-wizard-step.complete
                    // complete
                    .text-center.bs-wizard-stepnum
                        a.wizard-links(href='/os/#{invertMapos[mapos[osname]]}/type/#{i.name}' tabindex="-1") #{invertMapos[mapos[osname]]}
                    .progress
                        .progress-bar
                    a.bs-wizard-dot(href='/os/#{invertMapos[mapos[osname]]}/type/#{i.name}' tabindex="-1")
                if invertMapos[mapos[osname]+1] == null
                    .col-sm-4.bs-wizard-step.disabled
                        // complete
                        .text-center.bs-wizard-stepnum &nbsp;#{invertMapos[mapos[osname]+1]}
                        .progress
                            .progress-bar
                        a.bs-wizard-dot(href='/os/#{invertMapos[mapos[osname]+1]}/type/#{i.name}' tabindex="-1")
                else
                    .col-sm-4.bs-wizard-step.completed
                        // complete
                        .text-center.bs-wizard-stepnum
                            a.wizard-links(href='/os/#{invertMapos[mapos[osname] + 1]}/type/#{i.name}' tabindex="-1") #{invertMapos[mapos[osname] + 1]}
                        .progress
                            .progress-bar
                        a.bs-wizard-dot(href='/os/#{invertMapos[mapos[osname] + 1]}/type/#{i.name}' tabindex="-1")
            script(type='text/javascript').
                (function () {
                    new Clipboard('#copy-button');
                })();
            #outer
                //escaping, changed from "#"
                pre
                    code(class="c")
                        button#copy-button.button(data-clipboard-target='#copyblock' tabindex="-1" data-clipboard-action="copy").btn-info copy
                        if(ttype == null)
                            .nothing
                                |Such structure doesn't exist in chosen version of the kernel...
                                |Or we just have forgotten to add it to our database.
                        else
                            div#copyblock !{ttype}
        .maincross
            h5(style="font-weight:800;") Related kernel's structures:
            div
                ul(type='none')
                    for i in cros
                        li: p
                            a(class='listos' href="/os/#{osname}/type/#{i}" tabindex="-1") #{i}

