extends /partials/page

block title
    title Vergilius Project | #{i.name}
    -var selected = 'Kernels';
    -var a = 0;
block content
    .container.mainblock.main-tdata-sm
        .row
            .col-md-12.breadcrumbs-col
                nav(aria-label='breadcrumb')
                    ol.breadcrumb
                        li.breadcrumb-item
                            a.breadcrumb-link(href='/' tabindex="-1") > Home
                        li.breadcrumb-item
                            a.breadcrumb-link(href="/kernels" tabindex="-1") Kernels
                        li.breadcrumb-item
                            a.breadcrumb-link(href="/kernels/#{arch}" tabindex="-1") #{arch}
                        li.breadcrumb-item
                            a.breadcrumb-link(href="/kernels/#{arch}/#{famname}" tabindex="-1") #{famname}
                        li.breadcrumb-item
                            a.breadcrumb-link(href="/kernels/#{arch}/#{famname}/#{osname}" tabindex="-1") #{osname}
                        li.breadcrumb-item.active(aria-current='page') #{i.name}
        .row.fill
            .col-md-12
                .container.mainblock-content.main-tdata-sm
                    .row
                        .col-md-12
                            h2.h2-tdata #{i.name}
                    .row
                        .col-md-12
                            .container
                                .row.bs-wizard
                                    if invertMapos[mapos[currOs] - 1] == null
                                        .col-sm-4.bs-wizard-step.disabled.toprow.d-none.d-md-block
                                            .text-center.bs-wizard-stepnum.ord-text &nbsp; Previous
                                    else
                                        .col-sm-4.bs-wizard-step.completed.toprow.d-none.d-md-block(style="padding-right: 5px;")
                                            .text-center.bs-wizard-stepnum
                                                a.wizard-links(href='/kernels/#{invertMapos[mapos[currOs] - 1].getArch()}/#{invertMapos[mapos[currOs] - 1].getFamily()}/#{invertMapos[mapos[currOs] - 1].getOsname()}/#{i.name}' tabindex="-1") #{invertMapos[mapos[currOs] - 1].getFamily()} #{invertMapos[mapos[currOs] - 1].getOsname()} #{invertMapos[mapos[currOs] - 1].getArch()}
                                    .col-sm-4.bs-wizard-step.complete.toprow.d-none.d-md-block(style="padding-right: 5px;")
                                        .text-center.bs-wizard-stepnum
                                            a.wizard-links(href='/kernels/#{invertMapos[mapos[currOs]].getArch()}/#{invertMapos[mapos[currOs]].getFamily()}/#{invertMapos[mapos[currOs]].getOsname()}/#{i.name}' tabindex="-1") #{invertMapos[mapos[currOs]].getFamily()} #{invertMapos[mapos[currOs]].getOsname()} #{invertMapos[mapos[currOs]].getArch()}
                                    if invertMapos[mapos[currOs] + 1] == null
                                        .col-sm-4.bs-wizard-step.disabled.toprow.d-none.d-md-block
                                            .text-center.bs-wizard-stepnum.ord-text &nbsp; Next
                                    else
                                        .col-sm-4.bs-wizard-step.completed.toprow.d-none.d-md-block(style="padding-right: 5px;")
                                            .text-center.bs-wizard-stepnum
                                                a.wizard-links(href='/kernels/#{invertMapos[mapos[currOs] + 1].getArch()}/#{invertMapos[mapos[currOs] + 1].getFamily()}/#{invertMapos[mapos[currOs] + 1].getOsname()}/#{i.name}' tabindex="-1") #{invertMapos[mapos[currOs] + 1].getFamily()} #{invertMapos[mapos[currOs] + 1].getOsname()} #{invertMapos[mapos[currOs] + 1].getArch()}
                            .row.bs-wizard.hide-padd
                                if invertMapos[mapos[currOs] - 1] == null
                                    .col-sm-4.bs-wizard-step.disabled.bottomrow.d-none.d-md-block
                                        .progress
                                            .progress-bar
                                        a.bs-wizard-dot(href='#' tabindex="-1")
                                else
                                    .col-sm-4.bs-wizard-step.completed.bottomrow.d-none.d-md-block
                                        .progress
                                            .progress-bar
                                        a.bs-wizard-dot(href='/kernels/#{invertMapos[mapos[currOs] - 1].getArch()}/#{invertMapos[mapos[currOs] - 1].getFamily()}/#{invertMapos[mapos[currOs] - 1].getOsname()}/#{i.name}' tabindex="-1")
                                .col-sm-4.bs-wizard-step.complete.bottomrow.d-none.d-md-block
                                    .progress
                                        .progress-bar
                                    a.bs-wizard-dot(href='/kernels/#{invertMapos[mapos[currOs]].getArch()}/#{invertMapos[mapos[currOs]].getFamily()}/#{invertMapos[mapos[currOs]].getOsname()}/#{i.name}' tabindex="-1")
                                if invertMapos[mapos[currOs] + 1] == null
                                    .col-sm-4.bs-wizard-step.disabled.bottomrow.d-none.d-md-block
                                        .progress
                                            .progress-bar
                                        a.bs-wizard-dot(href='#' tabindex="-1")
                                else
                                    .col-sm-4.bs-wizard-step.completed.bottomrow.d-none.d-md-block
                                        .progress
                                            .progress-bar
                                        a.bs-wizard-dot(href='/kernels/#{invertMapos[mapos[currOs] + 1].getArch()}/#{invertMapos[mapos[currOs] + 1].getFamily()}/#{invertMapos[mapos[currOs] + 1].getOsname()}/#{i.name}' tabindex="-1")
                    .row
                        .col-md-12
                            .container.tdata-code
                                script(type='text/javascript').
                                    (function () {
                                        new Clipboard('#copy-button');
                                    })();
                                if(ttype == null)
                                    .nothing
                                        | Such structure doesn't exist in chosen version of the kernel...
                                        | Or we just have forgotten to add it to our database.
                                else
                                    pre
                                        code(class="c" style="min-height: 300px; padding-left: 0px;")
                                            button#copy-button.button(data-clipboard-target='#copyblock' tabindex="-1" data-clipboard-action="copy").btn-info copy
                                            div#copyblock !{ttype}

        .row
            .col-md-12
                if(cros != null)
                    .maincross
                        h4.h4-tdata Used in
                        .used-in-block
                            ul(type='none')
                                li
                                    for i in cros
                                        a.related(href="/kernels/#{arch}/#{famname}/#{osname}/#{i}" tabindex="-1") #{i}
                                        if(a != cros.size() - 1)
                                            - var a = a + 1
                                            | ,&nbsp;
                        //else
                            .block
                            script.
                                if($(".container.mainblock-content.main-tdata-sm").height() < 600)
                                {
                                    $('.block').addClass('maincross-empty');
                                }





