extends /partials/page

block title
    title Vergilius Project
    -var selected = 'Kernels';
block content
    .container
        .cmd
            ul.list-inline.breadcrumb(type='none')
                li.list-inline-item
                    | >
                    a(href="/" tabindex="-1")  Home
                li.list-inline-item
                    a(href="/kernels" tabindex="-1") Kernels
                li.list-inline-item
                    a(href="/os/#{osname}" tabindex="-1") #{osname}
                li.list-inline-item #{i.name}
    .container.indent
        .mainblock
            p(style="font-size:28px; font-weight:700")
                |#{i.name}
                //button#copy-button.button(data-clipboard-target='#copyblock').btn-info copy
            script(type='text/javascript').
                (function () {
                    new Clipboard('#copy-button');
                })();
            #outer
                //escaping, changed from "#"
                pre
                    code(class="c")
                        button#copy-button.button(data-clipboard-target='#copyblock').btn-info copy
                        div#copyblock !{ttype}