extends /partials/page

block title
    title Vergilius Project | #{osname}
    -var selected = 'Kernels';
block content
    .container.mainblock
        .row
            .col-md-12.breadcrumbs-col
                nav(aria-label='breadcrumb')
                    ol.breadcrumb
                        li.breadcrumb-item
                            a.breadcrumb-link(href='/' tabindex="-1") > Home
                        li.breadcrumb-item
                            a.breadcrumb-link(href='/kernels' tabindex="-1") Kernels
                        li.breadcrumb-item
                            a.breadcrumb-link(href=`/kernels/#{arch}` tabindex="-1") #{arch}
                        li.breadcrumb-item
                            a.breadcrumb-link(href=`/kernels/#{arch}/#{famname}` tabindex="-1") #{famname}
                        li.breadcrumb-item.active(aria-current='page') #{osname}
        .row
            .col-md-12
                .container.mainblock-content
                    .row
                        .col-md-12
                            input#myInput(type="text" tabindex="-1" placeholder="Enter type name...")
                    .row
                        .col-md-12
                            script.
                                $(document).ready(function () {
                                    $("#myInput").on("keyup", function () {
                                        var value = $(this).val().toLowerCase();
                                        $("#myDiv a").filter(function () {
                                            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                                        });
                                    });
                                });
                            div#myDiv
                                h2.caption Structures:
                                    div
                                        ul(type='none')
                                            for i in structs
                                                li
                                                    a(class='list-link' href=`/kernels/#{arch}/#{famname}/#{osname}/#{i.name}` tabindex="-1") #{i.name}
                                                        if i.isNew
                                                            span(class='badge badge-success type-badge') new
                                h2.caption Enums:
                                    div
                                        ul(type='none')
                                            for i in enums
                                                li
                                                    a(class='list-link' href=`/kernels/#{arch}/#{famname}/#{osname}/#{i.name}` tabindex="-1") #{i.name}
                                                        if i.isNew
                                                            span(class='badge badge-success type-badge') new
                                h2.caption Unions:
                                    div
                                        ul(type='none')
                                            for i in unions
                                                li
                                                    a(class='list-link' href=`/kernels/#{arch}/#{famname}/#{osname}/#{i.name}` tabindex="-1") #{i.name}
                                                        if i.isNew
                                                            span(class='badge badge-success type-badge') new