extends /partials/page

block title
    title Vergilius Project
    -var selected = 'Kernels';
block content
    .container
        .cmd
            ul.list-inline.breadcrumb(type='none')
                li.list-inline-item
                    | >
                    a(href="/" tabindex="-1")  Home
                li.list-inline-item
                    a(href="/kernels" tabindex="-1") Kernels
                li.list-inline-item
                    a(href="/kernels/#{arch}" tabindex="-1") #{arch}
                li.list-inline-item
                    a(href="/kernels/#{arch}/#{famname}" tabindex="-1") #{famname}
                li.list-inline-item #{osname}
    .container.indent
        .mainblock
            p.cap Structures:
            div
                ul(type='none')
                    for i in structs
                        li: p
                            a(class='listos' href="/kernels/#{arch}/#{famname}/#{osname}/#{i.name}" tabindex="-1") #{i.name}
            p.cap Enums:
            div
                ul(type='none')
                    for i in enums
                        li: p
                            a(class='listos' href="/kernels/#{arch}/#{famname}/#{osname}/#{i.name}" tabindex="-1") #{i.name}
            p.cap Unions:
            div
                ul(type='none')
                    for i in unions
                        li: p
                            a(class='listos' href="/kernels/#{arch}/#{famname}/#{osname}/#{i.name}" tabindex="-1") #{i.name}
