extends /partials/page

block title
    title Vergilius Project | #{osname}
    -var selected = 'Kernels';
block content
    .container
        .cmd
            ul.list-inline.breadcrumb(type='none')
                li.list-inline-item
                    | >
                    a(href="/" tabindex="-1")  Home
                li.list-inline-item
                    a(href="/kernels" tabindex="-1") Kernels
                li.list-inline-item
                    a(href="/kernels/#{arch}" tabindex="-1") #{arch}
                li.list-inline-item
                    a(href="/kernels/#{arch}/#{famname}" tabindex="-1") #{famname}
                li.list-inline-item #{osname}
    .container.indent
        .mainblock
            input#myInput(type="text" tabindex="-1" placeholder="Enter type name...")
            p.cap.type Structures:
            script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
            script.
                $(document).ready(function () {
                    $("#myInput").on("keyup", function () {
                        var value = $(this).val().toLowerCase();
                        $("#myDiv a").filter(function () {
                            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                        });
                    });
                });
            div#myDiv
                div
                    ul(type='none')
                        for i in structs
                            li: p
                                a(class='listos' href="/kernels/#{arch}/#{famname}/#{osname}/#{i.name}" tabindex="-1") #{i.name}
                p.cap Enums:
                div
                    ul(type='none')
                        for i in enums
                            li: p
                                a(class='listos' href="/kernels/#{arch}/#{famname}/#{osname}/#{i.name}" tabindex="-1") #{i.name}
                p.cap Unions:
                div
                    ul(type='none')
                        for i in unions
                            li: p
                                a(class='listos' href="/kernels/#{arch}/#{famname}/#{osname}/#{i.name}" tabindex="-1") #{i.name}
