extends /partials/page

block title
    title Vergilius Project
block content
    div
        ul.list-inline.breadcrumb(type='none')
            li.list-inline-item
                a(href="/") Home
            li.list-inline-item.active #{osname}
    .container.mycontainer
        h5 Structures:
        div
            ul
                for i in structs
                    li: p
                        a(href="/os/#{osname}/type/#{i.name}") #{i.name}
        h5 Enums:
        div
            ul
                for i in enums
                    li: p
                        a(href="/os/#{osname}/type/#{i.name}") #{i.name}
        h5 Unions:
        div
            ul
                for i in unions
                    li: p
                        a(href="/os/#{osname}/type/#{i.name}") #{i.name}
