extends /partials/page

block title
    title Vergilius Project

block content
    div
        h5
            &nbsp Structures:
        ul
            for i in structs
                li: p
                    a(href="/os/#{osname}/type/#{i.name}") #{i.name}


    div
        h5
            &nbsp Enums:
        ul
            for i in enums
                li: p
                    a(href="/os/#{osname}/type/#{i.name}") #{i.name}

    div
        h5
            &nbsp Unions:
        ul
            for i in unions
                li: p
                    a(href="/os/#{osname}/type/#{i.name}") #{i.name}

